/* ---------------------
Global Style Codes 
------------------------*/
* {
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
}

/* ----------------------------
Hero Section Style Codes Start
-------------------------------*/
.hero-section {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    margin: 30px auto;
    border-radius: 30px;
    padding: 70px 70px 0px 70px;
}

.texts-content {
    display: grid;

}

.texts-content h1 {
    margin: 0;
    padding-right: 20%;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
}

.texts-content p {
    padding-right: 20%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.texts-content button {
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    border: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
    border-radius: 5px;
}

.texts-content button:hover {
    width: 195px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    transition: 2s;
    cursor: pointer;
}

.banner img {
    float: right;
    width: 90%;
}

/* ----------------------------
Hero Section Style Codes End
-------------------------------*/
/* ----------------------------
Blog Section Style Codes Start
-------------------------------*/
.container {
    width: 1280px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 310px auto;
    grid-column-gap: 25px;
}

.quick-links {
    padding: 10px 30px;
    background-color: #161616;
    border-radius: 10px;
    height: 270px;
}

.quick-links button {
    display: block;
    margin: 30px auto;
    width: 240px;
    height: 50px;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.quick-links a {
    text-decoration: none;
}

.highlight {
    background-color: #DD0000;
    color: #FFFFFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.blog {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
}

.flags {
    display: grid;
    grid-template-columns: auto 50px auto;
}

.flags img {
    width: 93.04px;
    height: 56.18px;
}

.flags h1 {
    text-align: center;
    margin: auto;
}

.blog button {
    background-color: #DD0000;
    border: 0;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-top: 15px;
}

.blog h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 15px;
}

.blog p {
    display: inline;
    margin-right: 5%;
    color: rgba(22, 22, 22, 0.7);
}

/* ----------------------------
Blog Section Style Codes End
-------------------------------*/
/* ----------------------------
Footer Section Style Codes Start
-------------------------------*/
.footer {
    background-color: #161616;
    padding: 80px;
}

.footer-content {
    width: 1280px;
    margin: 0 auto;
}

.footer-content hr {
    border: 1px solid #D3D3D3;
    opacity: 20%;
    margin: 30px 0px;
}

.footer-content h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}

.menus {
    width: 60%;
    margin: auto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.menus p {
    cursor: pointer;
}

/* ----------------------------
Footer Section Style Codes End
-------------------------------*/
/* -------------------------------------
Hero section Responsive (Tab) Style Codes End
----------------------------------------*/
@media only screen and (max-width: 768px) {
    .hero-section {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 30px;
    }

    .texts-content h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
    }

    .texts-content p {
        margin: 0;
    }

    .texts-content button {
        margin: 0;
        padding: 10px 15px;
        width: 161px;
        height: 48px;
    }

    .banner img {
        width: 90%;
        margin-bottom: -20px;
    }

    .quick-links {
        height: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .quick-links button {
        width: 188px;
        height: 64px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        margin-top: 30px;
    }

    .container {
        width: 88%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        width: 78%;
    }

    .footer-content {
        width: 100%;
        margin: 0 auto;
    }

    .menus {
        width: 90%;
        margin: auto;
        color: #FFFFFF;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }